* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  background-color: rgb(235, 116, 116);
}
.container {
  max-width: 50rem;
  border: 1px solid black;
  background-color: rgb(230, 152, 28);
}
.home-menu a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.home-menu :hover {
  background-color: #000;
}

.active {
  background-color: #04aa6d;
}
.border {
  width: 25px;
  margin: 0.5rem;
  border: 1px solid black;
}
.left-menu {
  background-color: lightgrey;
  grid-area: line;
  margin-left: 0;
  justify-content: center;
  align-items: center;
}
.nav {
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 0.2fr 5fr;
  grid-template-areas: "line  menu";
  border: 1px solid red;
}
.home-menu {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup-container {
  max-width: 48rem;
  margin: 2rem;
  font-family: " Verdana, Geneva, Tahoma, sans-serif";
  word-spacing: 0.125rem;
  padding: 16px;
}

.form-action {
  background-color: #f8d49d;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.btn {
  width: 100%;
  height: 2rem;
  background-color: rgba(247, 192, 15, 0.877);
  border: 2px solid green;
}
p {
  margin-top: 1rem;
  font-family: cursive;
}
