* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(158, 157, 155);
  background-image: url("images/images(1).jpeg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: 100%;
}
.container {
  max-width: 48.5rem;
  margin: 1rem;
  border: 1px solid black;
  background-color: rgb(230, 152, 28);
}
main {
  margin: 0 0.5rem;
}

.home-menu a {
  float: left;
  border: 1px solid white;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.home-menu a:hover {
  background-color: #000;
}

.active {
  background-color: #04aa6d;
}
.border {
  width: 50%;
  margin: 0.5rem 2rem;
  border: 1px solid green;
}
#menu {
  display: grid;
  width: 70%;
  grid-template-columns: 2fr;
  grid-area: line;
}
.nav {
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 2fr 5fr;
  grid-template-areas: "line  menu";
  border: 1px solid red;
}
.home-menu {
  width: 100%;
  background-color: #555;
  overflow: auto;
  /* grid-area: menu;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid green;*/
}
.footer {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #a6a3a0;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  background-color: rgb(250, 209, 134);
}
h3 {
  text-align: center;
}
.footer-link {
  text-align: center;
  margin-bottom: 0.5rem;
}
a {
  color: blue;
  justify-content: center;
  align-items: center;
  margin: 0.75rem;
}
#app {
  border: 1px solid green;
  background-color: lightgrey;
  text-align: center;
  max-width: 48rem;
  margin: 1rem;
}
li {
  list-style: none;
}
img {
  margin-top: 1.125rem;
  width: 30%;
  border-radius: 50%;
}
h2,
p {
  color: green;
  padding: 0.5rem;
  padding-top: 0;
}

.menu-ctn li {
  position: relative;
  width: 100%;
  display: inline-block;
  background-color: #555;
  padding: 1rem 2rem;
  transition: all 0.8s ease;
}

.menu-ctn li:hover {
  cursor: pointer;
  background-color: #000;
  border: 1px solid white;
}
#dropdown {
  display: none;
  color: white;
  width: 30.75%;
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 0;
  top: 18%;
}
#dropdown.active {
  display: block;
}

@media only screen and (min-width: 47rem) {
  .navbar a {
    float: none;
    display: block;
  }
  .menu-ctn {
    width: 80%;
  }
  .nav {
    grid-template-columns: 1fr 6fr;
  }
  .footer {
    text-align: center;
  }
  #dropdown {
    top: 8.75%;
    width: 16.5%;
  }
}

@media only screen and (min-width: 68rem) {
  #wrapper {
    width: 1088px;
  }
}
